.sidebar {
  width: 296px;
  background-color: $bg-primary;
  padding: 32px 0;
  position: relative;
}
.logo {
  padding: 0 32px;
  a {
    display: block;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/085a62fb22df4bf21c605a180648c6c6e35c2b32/week5/logo-ANSWER.svg);
    @include background-type;
    background-size: contain;
    height: 40px;
  }
}
.menu {
  margin-top: 42px;
  li {
    // 因保留左邊3公分透明border，所以原推32px，改推29px
    padding-left: 29px;
    margin-bottom: 30px;
    // 保留左邊3公分透明border，避免hover後有位移情形
    border-left: 3px solid transparent;
    &:hover {
      color: $hover-primary;
      border-left: 3px solid $border-success;
    }
    a {
      width: 100%;
      color: $text-primary;
      font-weight: bold;
      padding: 4px 0;
      margin-left: 16px;
      &:hover {
        color: $hover-primary;
      }
    }
  }
}
.user {
  position: absolute;
  bottom: 32px;
  padding: 0 32px;
  img {
    @include size(40px, 40px);
    image-rendering: -webkit-optimize-contrast;
    border-radius: 50%;
  }
  .user-info {
    margin-left: 16px;
    p {
      color: $text-secondary;
    }
  }
}
