.contentBox {
  padding: 0 32px;
  margin-top: 12px;
}
.directoryBox {
  width: 320px;
  .dropdown {
    margin-bottom: 6px;
  }
}
.list-group {
  li {
    &:first-of-type {
      background-color: $bg-primary;
    }
    cursor: pointer;
    &:hover {
      background-color: $bg-primary;
    }
    .item-top {
      margin-bottom: 4px;
      p {
        font-size: $h6-font-size;
      }
    }
    .item-bottom {
      p {
        font-size: $h6-font-size;
        color: $text-secondary;
      }
    }
  }
}
.messageBox {
  width: 584px;
  .comment {
    margin-top: 24px;
    margin-bottom: 6px;
    color: $text-secondary;
  }
}
.messageTool {
  margin-top: 16px;
  a {
    color: $text-primary;
    &:first-of-type {
      margin-right: 30px;
    }
    &:hover {
      color: $icon-primary;
    }
  }
  .btn {
    &:first-of-type {
      margin-right: 30px;
    }
  }
  .btn-success {
    width: 105px;
  }
  .btn-outline-success {
    width: 157px;
  }
}
