.wrap {
  width: 1280px;
  margin: 0 auto;
}
// 下拉箭頭修改顏色共用語法
.angle-down {
  vertical-align: middle; //讓文字與icon水平置中
  color: $icon-primary;
}
// 下拉元件設定
.dropdown-toggle {
  // 取消Bootstrap原下拉選單圖示
  &::after {
    display: none;
  }
}
