//color
$bg-primary: #f8f9fa;
$bg-secondary: #2a8356;
$bg-success: #198754;
$bg-muted: #f8f9fa;
$text-primary: #212529;
$text-secondary: #6c757d;
$text-success: #198754;
$text-light: #ffffff;
$border-primary: #ced4da;
$border-secondary: #ced4da;
$border-success: #198754;
$hover-primary: #198754;
$icon-primary: #2a8356;
$icon-secondary: #dc3545;
