.navbar {
  width: 984px;
  padding: 32px;
  h2 {
    margin-right: 48px;
  }
  .icon-list {
    a {
      color: $text-primary;
      &:hover {
        color: $icon-primary;
      }
      &:first-child {
        margin-right: 26px;
      }
      i {
        vertical-align: middle;
      }
    }
  }
  .add-Admin {
    a {
      color: $text-primary;
      line-height: 24px;
      &:hover {
        color: $text-success;
      }
      i {
        margin-right: 8px;
        color: $text-success;
        vertical-align: middle;
      }
    }
  }
}
